{% extends 'base.html' %}
{% block content %}

<main class="container py-3 ">
    <section class="card card-body bg-dark text-light ">
        <h1 class="display-1 text-center">INICIO</h1>
        {% if single_new %}
            {% for single_new in news %}
                <div class="row g-0 m-3 border border-success border-5 card-body text-dark bg-secondary rounded">
                    <div class="col-md-8 ">
                        <div class="card-body">
                            <h5 class="card-title">{{ single_new.title }}</h5>
                            <span class="card-text ">{{ single_new.description }}</span><br>
                            <small class="card-text">Publicado el {{ single_new.upload_date }}</small>
                        </div>
                    </div> 
                </div>                
            {% endfor %}
        {% else %}
            <p>No hay noticias disponibles.</p>
        {% endif %}
    </section>
</main>
{% endblock %}
